.Registration {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.Registration__container {
    max-width: 992px;
    width: 100%;
    margin: 1em;
    background: #0231A17A;
    border: 6px solid #20183B;
    border-radius: 25px;
}

.Registration__container>form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.Registration__container>form>* {
    margin: .75em .5em;
    text-align: center;
    flex-grow: 1;
    color: azure;
}

.registration-form{
    padding-top: 1.25rem;
}

.registration-form > label {
    width: 80%;
    text-align: left;
    font-size: 1,5rem;
    margin-bottom: 0;
    transform: translateX(-1rem);
}

.registration-form > input, .registration-form > select {
    margin-top: .125em;
    width: 80%;
    color: rgb(1, 1, 156);
    font-size: 2rem;
    border-radius: .5rem;
}
