/* css-стили для Classroom.jsx */
@import url(../../colors.css);

.Classroom{
    height: 100%;
    display: flex;
    justify-content: center;
}

.Classroom__main{
    --add-margin:2.25em;

    height: calc(100% - (var(--add-margin) * 2)) ;
    width: calc(100% - (var(--add-margin) * 2));
    margin: var(--add-margin);
    border-radius: 1em;
    padding: .5em;

    background-color: var(--gray-color);
}